.about-wrapper {
    display: flex;
    // flex-direction: row;
    justify-content: space-around;
    // align-items: center;
    width: 100%;
    padding-right: 20px;

    .about-img {
        img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    


    .about-text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        max-width: 300px;


        h2 {
            color: $text-color;
            text-align: center;
        }

        p {
            color: $text-color;
            text-align: center;
        }
    }
}